**/__pycache__
**/.DS_Store
.vscode
data/experiment_setup
example_results

my_config.yaml
config_and.yaml
config_or.yaml
.idea/
_data_set/
_example_results/
raw_results_2/
results/
*.json
analysis/auc_visualise_layered.py
analysis/auc_visulise.py
analysis/averaged_results.csv
analysis/mds_vs_ranking.py
analysis/mds_vs_ranking_all.py
analysis/mds_vs_ranking_and.txt
analysis/mds_vs_ranking_average.ipynb
analysis/mds_vs_ranking_or.txt
analysis/per_round.ipynb
analysis/per_round_average.ipynb
analysis/process_data.ipynb